body {
    background-image: url(Kuvat/kiitos-kuva.jpeg);
    background-size: cover;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    color: rgb(0, 0, 0);
    font-size: 100px;
}

footer {
    text-align: center;
    width: 80%;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    color: white;
    background: black;
    margin: 20px;
    margin-left: 200px;
}

#returnButton {
    width: 500px;
    height: 300px;
    margin-left: 650px;
    margin-top: 50px;
}
