body {
    margin: 0;
    padding: 20px;
    background-image: url(Kuvat/taustakuva.jpg);
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-family: cursive;
    color: #000000;
    background-image: url(Kuvat/otsikkotausta);
    background-size: cover;
    border: 6px solid rgb(0, 0, 0);
    border-radius: 15px;
}

.character-select {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.character {
    background-color: rgb(221, 85, 21);
    border: 6px solid #000000;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 15px;
    width: 140px;
    cursor: pointer;
    height: 225px;
    flex-direction: column;
}

.character img {
    max-width: 100%;
    border-radius: 5px;
    object-fit: cover;
    height: 180px;
}

.character h2 {
    font-family: cursive;
    color: #8b1414;
    margin: 10px 0 0 0;
    text-decoration:none;
}

.character:hover {
    border-color: #b61111;
}

.character.bison {
    margin-left: 200px;
}
