body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    background-image: url(../Kuvat/taustakuva.jpg);
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    background-image: url(../Kuvat/titleTausta);
    background-size: cover;
    border: 6px solid #fcd80d;
    border-radius: 8px;
}

.character-select {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.character {
    background-color: rgb(180, 63, 63);
    border: 2px solid #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 120px;
    cursor: pointer;
    height: 225px;
    flex-direction: column;
}

.character img {
    max-width: 100%;
    border-radius: 5px;
    object-fit: cover;
    height: 180px;
}

.character h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    margin: 10px 0 0 0;
}

.character:hover {
    border-color: #ff0000;
}