body {
    margin: auto 10px;
    padding: 0;
    width: auto;
    height: 2000px;
    background-color: #9a2d2d;;
    font-family: Verdana, sans-serif;
}

#images {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

#arrow {
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.text {
    color: #ffffff; 
    width: 90%;
    border: 10px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 20px;
    text-align: left;
    height: 500px;
    padding-top: 1px;
    font-size: larger;
    background-color: rgb(191, 85, 46);
}

header {
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    padding: 1px;
    background-image: url("../kuvat/barArt.png");
    color: white;
}

#returnButton {
    padding: 1%;
}

footer {
    text-align: center;
    width: 80%;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    color: white;
    background: black;
    margin: 20px;
}